<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sample.common.dao.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.sample.common.model.SysUser">
    <constructor>
      <idArg column="USER_ID" javaType="java.lang.Long" jdbcType="DECIMAL" />
      <arg column="USER_ACCOUNT" javaType="java.lang.String" jdbcType="VARCHAR"  />
      <arg column="USER_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="PASSWORD" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="SALT" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="LOCKED" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    USER_ID, USER_ACCOUNT, USER_NAME, PASSWORD, SALT, LOCKED
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SYS_USER
    where USER_ID = #{userId,jdbcType=DECIMAL}
  </select>

  <select id="selectByUserAccount" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"></include>
    from sys_user where user_account=#{user_account}
  </select>

  <select id="selectUsers" resultType="com.sample.common.model.SysUser" parameterType="com.sample.common.model.SysUser">
    select
    USER_ID, USER_ACCOUNT, USER_NAME,LOCKED
    from sys_user where 1=1
    <trim suffixOverrides=",">
      <if test="userName != null and userName != ''">
        and user_name =#{userName}
      </if>
      <if test="userAccount != null and userAccount != ''">
        and user_account =#{userAccount}
      </if>
      <if test="locked != null and locked != ''">
        and locked =#{locked}
      </if>
    </trim>
    order by user_id desc
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from SYS_USER
    where USER_ID = #{userId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.sample.common.model.SysUser">
    insert into SYS_USER (USER_ID, USER_ACCOUNT, USER_NAME, 
      PASSWORD, SALT, LOCKED
      )
    values (SYS_USER_SEQ.NEXTVAL, #{userAccount,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR},
      #{password,jdbcType=VARCHAR}, #{salt,jdbcType=VARCHAR}, #{locked,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sample.common.model.SysUser">
    insert into SYS_USER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="userAccount != null">
        USER_ACCOUNT,
      </if>
      <if test="userName != null">
        USER_NAME,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="salt != null">
        SALT,
      </if>
      <if test="locked != null">
        LOCKED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      SYS_USER_SEQ.NEXTVAL,
      <if test="userAccount != null">
        #{userAccount,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="locked != null">
        #{locked,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sample.common.model.SysUser">
    update SYS_USER
    <set>
      <if test="userAccount != null">
        USER_ACCOUNT = #{userAccount,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        SALT = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="locked != null">
        LOCKED = #{locked,jdbcType=VARCHAR},
      </if>
    </set>
    where USER_ID = #{userId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sample.common.model.SysUser">
    update SYS_USER
    set USER_ACCOUNT = #{userAccount,jdbcType=VARCHAR},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      SALT = #{salt,jdbcType=VARCHAR},
      LOCKED = #{locked,jdbcType=VARCHAR}
    where USER_ID = #{userId,jdbcType=DECIMAL}
  </update>
</mapper>